
*{
    box-sizing: border-box;
}

.main-container{
    position: relative; 
    display: inline-block;
}

.health-bar{
    position: absolute; 
    display: flex; 
    width: 100%; 
    align-items: center;
    padding: 20px;
}

.sprite{
    position: relative;
    background-color: yellow;
    height: 30px; 
    width: 100%;
}

.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red; 
    width: 100px; 
    height: 100px; 
    flex-shrink: 0;
}

.playerhealth{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: blue;
    width: 100%;
    height: 100%;
}

.enemyhealth{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: blue;
    width: 100%;
    height: 100%;
}

.result{
    position: absolute;
    display: flex;
    background-color: yellow;
}