@font-face {
    font-family: japanese;
    src: url(./assets/fonts/Japanese2020-axanm.ttf);
}

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "japanese", sans-serif;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/943/424/1010/vagabond-takehiko-inoue-wallpaper-thumb.jpg);
    background-size: contain;
}

.main-container{
    position: relative; 
    display: inline-block;
}

.health-bar{
    position: absolute;
    top: -100px;
    display: flex; 
    width: 100%; 
    align-items: center;
    /* padding: 20px; */
}

.sprite{
    position: relative;
    background-color: yellow;
    height: 30px; 
    width: 100%;
}

.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; 
    height: 100px; 
    flex-shrink: 0;
    font-size: 40px;
    /* color: white; */
    /* font-family: "japanese", sans-serif; */
}

.playerhealth{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: blue;
    width: 100%;
    height: 100%;
}

.enemyhealth{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: blue;
    width: 100%;
    height: 100%;
}

.result{
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}